<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type='text/javascript'>
	</script>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/images"> -->
</head>
<body>

	
	<h1>{{data[0][0]}} Stats</h1>
	
	{% for row in data %}	
	<div class='row'>
		<h3>Stars: {{row[1]}}</h3>
	</div>
	<row>
		<h4>Title: {{row[2]}}</h3>
	</row>
	<row>
		<h4>Review: {{row[3]}}</h3>
	</row>
	<row>
		<h5>Author Name: {{row[4]}}</h3>
	</row>		
	{% endfor %}

</body>
</html>