<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type='text/javascript'>
	</script>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/images">
</head>
<body>

	<h1>Query Results</h1>
	<table class='table'>	
	<thead>
		<th>Restaurant Name</th>
		<th>Restaurant Category</th>
		<th>Thumbnail</th>
	</thead>
	{% for row in data %}
		<tr>
			
			<td><a href='/reviews/{{row[3]}}'>{{row[0]}}</td>
			<td>{{row[1]}}</td>
			<td><img class='img-responsive' src='/static/images/{{row[2]}}'></td>
		</tr>
	{% endfor %}

	</table>

</body>
</html>